{% extends 'base.html' %}

{% block content %}
<h1>Home Page</h1>
<br/>


{% if api %}

{% if api == "Error..." %}
    There was an error, please try again...

{% else %}
    <div class="p-7 mb-4 text-white bg-dark rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">{{ api.0.ReportingArea }}</h1>
        <p class="col-md-8 fs-4">
          Air Quality: {{ api.0.AQI }} <br/>
          Category: {{ api.0.Category.Name }}
        </p>
        <p>
          {% if api.0.Category.Name == "Good" %}
            Good : (0-50) Melo caramelo, Air quality is considered satisfactory, and air pollution poses little or no risk
          {% elif api.0.Category.Name == "Moderate" %}
            Moderate: (51-100) Pues bien, Air quality is acceptable, however, for some pollutants there may be a moderate health concern for a very small number of people
          {% elif api.0.Category.Name == "USG" %}
            USG: (101-150) Ahi suave, Altough general public is not likely to be affected at this AQI range, people with lung disease, older adults and children are at a
          {% elif api.0.Category.Name == "Unhealty" %}
           Unhealty: (151-200) Muy suave, Everyone may begin to experience health effects; members of sensitive groups may experience more serious health effects
          {% elif api.0.Category.Name == "Very Unhealty" %}
            Very Unhealty: (201-300) Zonas con eso pa, Health alert: everyone may experience more serious health effects
          {% elif api.0.Category.Name == "Hazardous" %}
            Hazardous: (301-500) Uy marica ojo con eso, Health warnings of emergency conditions. The entire population is more likely to be affected
          {% endif %}
        </p>
        
      </div>
    </div>
{% endif %}
{% endif %}
{% endblock %}